.font-comfortaa,
.logo {
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.font-space-grotesk {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

body,
.font-inter {
  font-family: "Inter", "Inter Fallback";
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

ul {
  position: fixed;
  inset: 0px auto auto 0px;
  margin: 0px;
  transform: translate3d(13.3507px, 58.9826px, 0px);
}

.btn,
.input {
  border-radius: 50px;
  font-weight: normal;
}
body {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
